.details {
    background-color: $primary-background;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet {
        padding: 0 100px;
    }

    @include laptop {
        padding: 0 123px;
        min-height: 100%;
    }
}

.change-unit {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 42px;

    &__item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        font-family: Raleway;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: $white-font;
        background-color: #585676;
        outline: none;

        &--selected {
            background-color: $white-font;
            color: #110E3C;
        }


        @include laptop {
            &:hover {
                background-color: lighten(#585676, 20%);
            }

            margin-left: 12px;
        }
    }

    @include laptop {
        width: 100%;
        justify-content: flex-end;
    }
}