*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: #616475;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #616475;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #616475;
}

:-ms-input-placeholder {
    color: #616475;
}

body {
    margin: 0;
    font-family: $main-font;
    color: $white-font;
    overflow: hidden;
    background-color: $primary-background;
}

.app {
    @include tablet {
        display: flex;
        width: 100%;
        height: 100%;
    }
}

.aside {
    @include tablet {
        min-width: 325px;
        max-width: 25%;
    }

    @include laptop {
        min-width: 450px;
        max-width: 30%;
    }
}

.button {
    outline: none;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.links {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
    margin-top: 86px;
    color: #616475;

    &__item {
        color: #616475;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;
        transition: color .2s ease;

        @include tablet {
            &:hover {
                color: lighten(#616475, 30%);
            }
        }
    }
}