$primary-background: #100E1D;
$second-background: #1E213A;
$card-background: #1E213A;

$button-main: #6E707A;

$white-font: #E7E7EB;
$light-font: #A09FB1;
$dark-font: #110E3C;
$light-dark-font: #88869D;